.outer {
    border : 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.inner {
    background-color: lightgreen;
    /* width: 50%; */
    color: white;
    text-align : right;
    transition: 1.5s ease-in;
}